body {
    margin: 0;
    background: #000;
    overflow: hidden;
  }
  
  /* .intro {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1;
    opacity: 0;
  } */
  
  .paragraph {
    margin-top: -20%;
    position: absolute;
    left: 15%;
    width: 70%;
    z-index: 1;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(20deg);
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    color: #ff6;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.1em;
    
  }

  span{
    margin-right: 15px;
  }
  